<app-formulario-productos />

<div class="container mt-5">
    <h2>Administrar Productos</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Marca</th>
          <th>Modelo</th>
          <th>Precio</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of productos">
          <td>{{ producto.id }}</td>
          <td>{{ producto.nombre }}</td>
          <td>{{ producto.marca }}</td>
          <td>{{ producto.modelo }}</td>
          <td>{{ producto.precio | currency }}</td>
          <td>
            <button class="btn btn-warning" (click)="editarProducto(producto)">Editar</button>
            <button class="btn btn-danger" (click)="eliminarProducto(producto.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  